<p id="notice"><%= notice %></p>

<h1 style="text-align:center; color:red"><img style="height: 120px; width:120px" src="https://bpcdn.co/images/2016/05/pre-school-order.png">Orders List</h1>

</br></br>
<table>
  <thead>
    <tr>
      <th>ClientName</th>
      <th>ClientAdress</th>
      <th>Pizza</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commandes.each do |commande| %>
      <tr>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

